{{ 'product-filter.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-filter.js' | asset_url }}" defer="defer"></script>

<product-filter>
  <div class="page-width">
    <div class="pfilter-container">
      <button type="button" class="pfilter-button">
        {% render 'icon-filter' %}
        {{ section.settings.title }}
      </button>
      <span class="pfilter-count">{{ collection.products_count }} products</span>
    </div>
    <form>
      <div class="pfilter-drawer" aria-expanded="false">
        <div class="pfilter-drawer-backdrop"></div>

        <div class="pfilter-drawer-container">
          <header class="pfilter-drawer-header">
            <h2 class="pfilter-drawer-title">{{ section.settings.title }}</h2>
            <button type="button" class="pfilter-drawer-close">
              {% render 'icon-close-small' %}
            </button>
          </header>


          {% comment %} Active filters {% endcomment %}
          <div class="pfilter-drawer-body">
            {% if collection.filters.size > 0 %}

              <div class="pfilter-applied">
                <div class="pfilter-applied-header">
                  <p class="pfilter-applied-title">Applied filters</p>
                  <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="pfilter-applied-clear">Reset All</a>
                </div>

                <div class="pfilter-applied-list">
                  {% for filter in collection.filters %}
                    {% case filter.type %}
                      {% when 'price_range' %}
                        {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                          <a href="{{ filter.url_to_remove }}" class="pfilter-applied-pill">
                            {%- assign min_value = filter.min_value.value | default: 0 -%}
                            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                            {{ min_value | money }} - {{ max_value | money }}
                            <span class="pfilter-applied-pill-remove">
                              {% render 'icon-close-small' %}
                            </span>
                          </a>
                        {%- endif -%}
                      {% else %}
                        {%- for filter_value in filter.active_values -%}
                          <a href="{{ filter.url_to_remove }}" class="pfilter-applied-pill">
                            {{ filter.label }}: {{ filter_value.label }}
                            <span class="pfilter-applied-pill-remove">
                              {% render 'icon-close-small' %}
                            </span>
                          </a>
                        {%- endfor -%}
                    {% endcase %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            {% comment %} Filters {% endcomment %}
            {%- for filter in collection.filters -%}
              <div class="pfilter-filter-group">
                <div class="pfilter-filter-header">
                  <p class="pfilter-filter-title">{{ filter.label }}
                    {% if filter.type == 'boolean' or filter.type == 'list' %}
                      <small>({{ filter.active_values.size }})</small>
                    {% endif %}
                  </p>
                  <a href="{{ filter.url_to_remove }}" class="pfilter-filter-clear">Reset</a>
                </div>

                {% case filter.type %}
                  {% when 'boolean' %}
                    <div class="pfilter-filter-boolean">
                      <input
                        type="checkbox"
                        name="availibility"
                        class="pfilter-filter-checkbox">
                      <label class="pfilter-filter-checkbox-label">
                        {{- filter_value.label -}}
                        <small>({{ filter_value.count }})</small>
                      </label>
                    </div>
                  {% when 'price_range' %}
                    <div class="pfilter-filter-range">
                      <input
                        name="{{ filter.min_value.param_name }}"
                        id="Filter-{{ filter.min_value.param_name }}"
                        {% if filter.min_value.value -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '.' }}"
                        {%- endif %}
                        type="number"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '.' }}"
                        placeholder="From"
                        class="pfilter-filter-number">

                      <span>
                        -
                      </span>

                      <input
                        name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.max_value.param_name }}"
                        {% if filter.max_value.value -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '.' }}"
                        {%- endif %}
                        type="number"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '.' }}"
                        placeholder="To"
                        class="pfilter-filter-number">
                    </div>
                  {% when 'list' %}
                    <div class="pfilter-filter-list">
                      {% for filter_value in filter.values %}
                        <input
                          type="checkbox"
                          id="filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                          name="{{ filter_value.param_name }}"
                          value="{{ filter_value.value }}"
                          class="pfilter-filter-checkbox"
                          {% if filter_value.active -%}
                          checked
                          {%- endif %}
                          {% if filter_value.count == 0 and filter_value.active == false -%}
                          disabled
                          {%- endif %}>
                        <label for="filter-{{ filter.param_name | escape }}-{{ forloop.index }}" class="pfilter-filter-checkbox-label">
                          {{- filter_value.label -}}
                          <small>({{ filter_value.count }})</small>
                        </label>
                      {% endfor %}
                    </div>
                {% endcase %}
              </div>
            {% endfor %}

            <hr>

            {% comment %} Sort {% endcomment %}
            <div class="pfilter-sort">
              <label>Sort by</label>
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

              <select name="sort_by" class="pfilter-sort-select">
                {%- for option in collection.sort_options -%}
                  <option
                    value="{{ option.value | escape }}"
                    {% if option.value == sort_by %}
                    selected="selected"
                    {% endif %}>
                    {{ option.name | escape }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          </div>

          <div class="pfilter-drawer-footer">
            <button type="submit" class="pfilter-submit button">Apply</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</product-filter>

{% schema %}
  {
    "name": "Product filter",
    "class": "section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "default": "Filter and sort",
        "label": "Title"
      }
    ]
  }
{% endschema %}